<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        fill="outline"
        label="Titulo"
        LabelPlacement="floating"
        helperText="Digite o titulo"
        [(ngModel)]="title"
      ></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-input
        type="text"
        fill="outline"
        label="Preço"
        LabelPlacement="floating"
        helperText="Digite o preço"
        [(ngModel)]="price"
      ></ion-input>
    </ion-item>

    <br />

    <ion-button expand="block" (click)="salvar()"> Salvar </ion-button>
  </ion-list>
</ion-content>
